/* Write your CSS Here. */
body{
    display        : flex;
    align-items    : center;
    flex-direction : column;
}

body h1{
    color:red;
}

body card{
    color:blue;
    display:flex;
    flex-direction:row;
    align-items:
}