/* Write your CSS Here. */
body{
    display        : flex;
    align-items    : center;
    flex-direction : column;
}

body h2{
    color             : red;
    background-color  : lightcyan;
    text-align        : center;
    height            : 1em ;
}

body div.card{
    color             : blue          ;
    background-color  : lightblue     ;
    display           : flex          ;
    flex-direction    : row           ;
    height            : 12em          ;
    width             : 25em          ;
    justify-content   : space-between ;
    align-items       : center        ;
}

.button{
    height:1em;
    margin:.5em;
}
